extends layout
block content
	.container
		h1 About Us
		p 
			|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, consequatur qui quidem possimus vitae odit porro nemo unde hic. Tempora consequatur quo blanditiis saepe eligendi ipsam ullam labore aut ex.